<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xfhy.processdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 声明权限 -->
    <uses-permission
        android:name="com.xfhy.processdemo.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal"/>
    <uses-permission android:name="com.xfhy.PROVIDER"/>

    <permission
        android:name="com.xfhy.processdemo.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal"/>
    <!-- 定义权限 -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".binderpool.BinderPoolActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".socket.TCPClientActivity">
        </activity>
        <activity android:name=".contentprovider.ProviderActivity">
        </activity>
        <activity android:name=".aidl.BookManagerActivity">
        </activity>
        <activity android:name=".messenger.MessengerActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".SecondActivity"
            android:process=":remote">
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:process="com.xfhy.processdemo.remote">
        </activity>

        <service
            android:name=".messenger.MessengerService"
            android:process=":remote"/>
        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote"/>
        <service
            android:name=".socket.TCPServerService"
            android:process=":remote"/>
        <!-- android:authorities 唯一标识 -->
        <provider
            android:name=".contentprovider.BookProvider"
            android:authorities="com.xfhy.processdemo.contentprovider"
            android:permission="com.xfhy.PROVIDER"
            android:process=":provider"/>
        <service
            android:name=".binderpool.BinderPoolService"
            android:process=":remote"/>
    </application>

</manifest>